$body-font: "Proxima Nova", Helvetica, sans-serif;
$header-font: "AGBenguiatCyr-Bold", Helvetica, sans-serif;

* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
	font-family: "Helvetica", sans-serif;
	color: white;
}

.background {
	position: relative;
	background: url(../img/Mobile02.png);
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;

		&.active {
			background: rgba(29,0,0,.9);
			background-blend-mode: soft-light;
		}
}

.eleven-box {
	position: absolute;
	top: 480px;
	left: 30%;
	width: 120px;
	height: 100px;
	// border: 2px solid blue;
	cursor: pointer;
}

.drawer {
	background: rgba(189,36,42,.95);
	height: 645px;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	&.active {
		
	}


			.scroll-up {
				position: relative;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				left: 35%;
				width: 120px;
				height: 120px;
				margin-top: 273px;
				// -moz-border-radius: 50px 0 0 50px;
			    border-radius: 60px 60px 60px 60px;
			    transform: rotate(.5turn);
			    background: black;
			    cursor: pointer;

				.arrow {
					position: relative;
					background: url(../img/arrow.png);
					background-size: contain;
					background-repeat: no-repeat;
					width: 40px;
					height: 25px;
					transform: rotate(.5turn);
					margin-top: 45px;
				}

	}

	.eleven {
		position: absolute;
		background: url(../img/eleven-selfie.png);
		background-size: contain;
		background-repeat: no-repeat;
		margin-top: 30px;
		margin-left: 2%;
		width: 250px;
		height: 250px;
	}

	.demagorgon {
		position: absolute;
		background-image: url(../img/demogorgon.svg);
		background-repeat: no-repeat;
		width: 80px;
		height: 140px;
		right: 45px;
		top: 130px;
	}

	h1 {
		font-family: $header-font;
		font-weight: 100;
		letter-spacing: 1pt;
		position: relative;
		top: 200px;
		margin-left: 13%;
		font-size: 2.5rem;
		z-index: 10;
	}

	h3 {
		font-family: $body-font;
		font-weight: 600;
		letter-spacing: .2pt;
		font-size: 1rem;
		float: right;
		margin: 80px 0 0 70px;
		text-align: center;
		line-height: 20px;
		color: #620e11;
	}

	h5 {
		position: relative;
		font-family: $body-font;
		font-weight: 400;
		left: 50px;
		font-size: 1.25rem;
		letter-spacing: .5pt;
		top: 170px;
	}

	p {
		position: relative;
		font-family: $body-font;
		font-weight: 200;
		left: 50px;
		font-size: .9rem;
		line-height: 24px;
		letter-spacing: .25pt;
		top: 210px;
		width: 80%;
		text-align: justify;

	}

}

















