$body-font: "Proxima Nova", Helvetica, sans-serif;

.drawer {
	background: rgba(189,36,42,0.95);
	width: 100%;
	height: 90%;
	overflow: hidden;
	color: white;

	@media screen and (min-width: 960px) {
		width: 60%;
	}		
}

.elevenSelfie {
	position: absolute;
	width: 54.16666667%;
	top: 6.432748538%;
	left: 7.291666667%;

	@media screen and (min-width: 960px) {
		width: 60%;
	}
}

.characterName {
	position: absolute;
	top: 22.883041%;
	left: 10.41666667%;
	font-size: 3.06253em;
	font-family: $body-font;
	font-weight: 100;

	@media screen and (min-width: 768px) {
		left: 16.416667%;
		font-size: 4rem;
	}	
}

.demogorgonText {
	color: #620E11;
	position: absolute;
	top: 12.61988304%;
	left: 64.5%;
	text-align: center;
	font-size: 1em;
	font-family: $body-font;
	font-weight: 600;

	@media screen and (min-width: 768px) {
		left: 69.916667%;
	}	
}

.demogorgonImage {
	position: absolute;
	width: 14.58333333%;
	top: 19.88304094%;
	left: 69.79166667%;
}

.characterParagraph {
	position: absolute;
	left: 10.41666667%;
	right: 10.41666667%;
	top: 39.76608187%;
	font-family: $body-font;
	font-weight: 100;
	line-height: 1.5rem;

	& h2 {
		font-size: 1.3rem;
	}

	@media screen and (min-width: 768px) {
	    left: 16.416667%;
	    line-height: 3rem;
	    font-size: 1.5rem;
	}
}


.swipeUp {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	left: 35%;
	width: 120px;
	height: 120px;
	margin-top: 273px;
	// -moz-border-radius: 50px 0 0 50px;
    border-radius: 60px 60px 60px 60px;
    transform: rotate(.5turn);
    background: black;
    cursor: pointer;
    top: 45.28655%;

	.arrowImg {
		position: relative;
		background: url(../../assets/img/character_detail/img/arrow.png);
		background-size: contain;
		background-repeat: no-repeat;
		width: 40px;
		height: 25px;
		transform: rotate(.5turn);
		margin-top: 45px;
	}

	&:hover {
		opacity: 1;
		-webkit-box-shadow: 0px 0px 78px 2px rgba(182,20,6,1);
		-moz-box-shadow: 0px 0px 78px 2px rgba(182,20,6,1);
		box-shadow: 0px 0px 78px 2px rgba(182,20,6,1);
	}

	@media screen and (min-width: 768px) {
	    left: 41%;
	    margin-top: 440px;
	    margin-top: 440px
	}
}
























