@import "Navigation";
$body-font: "proxima-nova", Helvetica, sans-serif;
$specialFont: "BenguiatBold";

.nancy-link {
    width: 100%;
    height: 100%;
    position: absolute;
}
.nancy {
    position: absolute;
    width: 25.41666667%;
    top: 3.040935673%;
    left: 38.54166667%;
    @media (min-width: 768px) {
        width: 22.91666667%;
        top: 21.09375%;
        left: 52.08333333%; 
    }
    @media (min-width: 960px) {
        width: 16.92708333%;
        top: 9.259259259%;
        left: 60.9375%; 
    }
}
.lucas {
    position: absolute;
    width: 30.41666667%;
    top: 12.86549708%;
    left: 2.416666667%;
    @media (min-width: 768px) {
        width: 25%;
        top: 10.9375%;
        left: 7.8125%;  
    }
    @media (min-width: 960px) {
        width: 20.92708333%;
        top: 2.777777778%;
        left: 38.40625%;    
    }
}
.steve {
    position: absolute;
    width: 32.41666667%;
    top: 11.4502924%;
    left: 62.70833333%;
    @media (min-width: 768px) {
        width: 30%;
        top: 8.59375%;
        left: 68.47916667%; 
    }
    @media (min-width: 960px) {
        width: 20.92708333%;
        top: 2.703703704%;
        left: 78.51041667%; 
    }
}
.jonathan {
    position: absolute;
    width: 33.08333333%;
    top: 24.56140351%;
    left: 26.25%;
    @media (min-width: 768px) {
        width: 28%;
        top: 19.53125%;
        left: 21.04166667%; 
    }
    @media (min-width: 960px) {
        width: 20.92708333%;
        top: 38.14814815%;
        left: 39.75%;   
    }
}
.dustin {
    position: absolute;
    width: 25%;
    top: 32.16374269%;
    left: 3.125%;
    @media (min-width: 768px) {
        width: 25%;
        top: 31.25%;
        left: 6.25%;    
    }
    @media (min-width: 960px) {
        width: 16.92708333%;
        top: 16.2037037%;
        left: 24.73958333%; 
    }
}
.joyce {
    position: absolute;
    width: 39.16666667%;
    top: 33.33333333%;
    right: 1.041666667%;
    @media (min-width: 768px) {
        width: 36.45833333%;
        top: 34.375%;
        left: 62.5%;    
    }
    @media (min-width: 960px) {
        width: 25.26041667%;
        top: 37.96296296%;
        left: 68.22916667%; 
    }
}
.mike {
    position: absolute;
    width: 27.08333333%;
    top: 42.69005848%;
    left: 35.41666667%;
    @media (min-width: 768px) {
        width: 25%;
        top: 39.0625%;
        left: 34.375%;  
    }
    @media (min-width: 960px) {
        width: 16.92708333%;
        top: 12.03703704%;
        left: 4.947916667%; 
    }
}
.will {
    position: absolute;
    width: 27.08333333%;
    top: 53.80116959%;
    left: 3.125%;
    @media (min-width: 768px) {
        width: 28%;
        top: 55.46875%;
        left: 5.208333333%; 
    }
    @media (min-width: 960px) {
        width: 17.1875%;
        top: 45.37037037%;
        left: 7.291666667%; 
    }
}
.hopper {
    position: absolute;
    width: 67.66666667%;
    top: 59.41520468%;
    right: -16.083333333%;
    @media (min-width: 768px) {
        width: 60.02083333%;
        top: 60.15625%;
        left: 53.89583333%; 
    }
    @media (min-width: 960px) {
        width: 47.60416667%;
        top: 67.59259259%;
        left: 49.72916667%; 
    }
}
.eleven {
    position: absolute;
    width: 70.66666667%;
    top: 63.74269006%;
    left: -2%;
    @media (min-width: 768px) {
        width: 70.33333333%;
        top: 64.59375%;
        left: 2.125%;   
    }
    @media (min-width: 960px) {
        width: 47.60416667%;
        top: 55.55555556%;
        left: 5.39583333%;  
    }
}
.grayscale {
    filter: grayscale(100%);
    transition: all 0.5s ease;
    &:hover {
        filter: grayscale(0%);
    }
}


.characterPage {
    //position: relative;
    img {
        cursor: pointer;
    }
    .drawer {
        position: relative;
        background: rgba(189,36,42,0.95);
        width: 100%;
        height: 94%;
        overflow: hidden;
        color: white;
        z-index: 1000;
        transform: translateY(-100%);
        transition: .6s;
        color: #ffebeb;
            &.slide-up {
                transform: translateY(0%);
            }
            &.slide-right {
                transform: translateX(0%);
            }
            @media screen and (min-width: 768px) {
                width: 100%;
                height: 83%;
            }   
            @media screen and (min-width: 960px) {
                width: 77%;
                height: 100%;
                transform: translateX(-100%);
            }   
        // @font-face {
        //  font-family: 'strangerFont';
        //  src: url('../fonts/Benguiat_Bold.ttf');
        // }

        h1 {
            font-family: $body-font;
            font-size: 3.2rem;
            font-weight: 400;
        }
        h2 {
            position: relative;
            float: left;
            font-family: $body-font;
            font-weight: 400;
            letter-spacing: .75px;
            color: #ffebeb;
            margin-top: -10px;
        }
        p {
            font-family: $body-font;
            line-height: 28px;
            letter-spacing: .15px;
            font-size: .95rem;
            color: #ffebeb;
        }
        .eleven-box {
           // position: relative;
            background-image: url(../img/character_detail/img/eleven-selfie.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            height: 200px;
            width: 60%;
            margin: 5px 0 0 0;
            // border: 2px solid white;
            @media(min-width: 768px) {
                margin: 80px 0 0 0;
                height: 250px;
            }
            @media(min-width: 960px) {
                margin: 50px 0 0 5%;
                height: 250px;
                width: 40%;
            }
                h1 {    
                	font-family: $specialFont;
                    position: relative;
                    margin: 0px 0 0px 17%;
                    font-size: 3rem;
                    //font-family: $body-font;
                    font-weight: 400;
                    letter-spacing: .95px;
                    align-self: flex-start;
                    @media screen and (min-width: 768px) {
                        font-size: 4.6rem;
                        margin: 45px 0 0 27%;
                    }   
                }
            }
        .demogorgonText {
            color: #620E11;
            margin-top: -170px;
            position: relative;
            float: left;
            font-size: 1em;
            line-height: 16px;
            font-family: $body-font;
            font-weight: 600;
            text-align: center;
            // border: 2px solid white;
            @media(min-width: 768px) {
                top: -50px;
                margin-left: -60px;
                font-size: 1.4rem;
                line-height: 24px;
            }
            @media(min-width: 960px) {
                margin-left: -120px;
                top: -60px;
                font-size: 1.2rem;
            }
        }
        .demogorgonImage {
            position: relative;
            clear: both;
            top: -140px;
            left: 62%;
            width: 110px;
            @media screen and (min-width: 768px) {
                left: 62%;
                top: -155px;
                width: 150px;
            }
            @media screen and (min-width: 960px) {
                left: 56%;
                top: -160px;
                width: 150px;
            }
        }
        .characterParagraph {
            position: relative;
            float: left;
            top: 40px;
            font-family: $body-font;
            font-weight: 100;
            line-height: 1.5rem;
            h2 {
                position: relative;
                // float: left;
                // clear: none;
                top: -120px;
                @media (min-width: 768px) {
                    font-size: 1.7rem;
                    margin-top: 0px;
                    letter-spacing: 1.5px;
                }   
                @media (min-width: 960px) {
                    font-size: 1.7rem;
                    margin-top: 0px;
                    letter-spacing: 1.5px;
                }   
            }
            p {
                position: relative;
                // float: left;
                clear: both;
                width: 85%;
                top: -120px;
                // border: 3px solid blue;
                @media (min-width: 768px) {
                    width: 70%;
                    font-size: 1.1rem;
                    letter-spacing: .6px;
                    top: -90px;
                }
                @media (min-width: 960px) {
                    width: 62%;
                    line-height: 28px;
                    letter-spacing: .3px;
                    // font-size: 1rem;
                }
            }
        }
        .swipeUp {
            position: relative;
            top: -50px; 
            border-radius: 60px 60px 60px 60px;
            // transform: rotate(.25turn);
            background: black;
            cursor: pointer;
            z-index: 20000;
                @media(min-width: 768px) {
                    top: -170px;
                }
                @media(min-width: 960px) {
                    position: relative;
                    top: -600px;
                    left: 94%;
                    transform: rotate(.25turn);
                }
            .arrowImg {
                position: absolute;
                background: url(../../assets/img/character_detail/img/arrow.png);
                background-size: contain;
                background-repeat: no-repeat;
                width: 40px;
                height: 25px;
                transform: rotate(.5turn);
                margin-top: 24px;
            }
        }
    }
}
