@import "Navigation";

.background {
	background-image: url(../../assets/img/Lights/Mobile/mobile-lights.png);
	position: absolute;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top right;

	@media screen and (min-width: 600px) {
		background-image: url(../../assets/img/Lights/Tablet/img/No-light.png);
	}

	@media screen and (min-width: 900px) {
		background-image: url(../../assets/img/Lights/Desktop/img/No-lights.png);
	}
}

.backgroundAnimation {
	position: absolute;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top right;
}


.backgroundH {
	background-image: url(../../assets/img/Lights/Mobile/img/H-light-03.png);
	z-index: 20;
	height: 100vh;

	@media screen and (min-width: 600px) {
		background-image: url(../../assets/img/Lights/Tablet/img/H-light.png);
	}

	@media screen and (min-width: 900px) {
		background-image: url(../../assets/img/Lights/Desktop/img/H-light.png);
	}
}

.backgroundE {
	background-image: url(../../assets/img/Lights/Mobile/img/E-light-03.png);
	z-index: 15;
	height: 100vh;

	@media screen and (min-width: 600px) {
		background-image: url(../../assets/img/Lights/Tablet/img/E-light.png);
	}

	@media screen and (min-width: 900px) {
		background-image: url(../../assets/img/Lights/Desktop/img/E-light.png);
	}
}

.backgroundL {
	background-image: url(../../assets/img/Lights/Mobile/img/L-light-03.png);
	z-index: 10;
	height: 100vh;

	@media screen and (min-width: 600px) {
		background-image: url(../../assets/img/Lights/Tablet/img/L-light.png);
	}

	@media screen and (min-width: 900px) {
		background-image: url(../../assets/img/Lights/Desktop/img/L-light.png);
	}
}

.backgroundP {
	background-image: url(../../assets/img/Lights/Mobile/img/P-light-03.png);
	z-index: 5;
	height: 100vh;

	@media screen and (min-width: 600px) {
		background-image: url(../../assets/img/Lights/Tablet/img/P-light.png);
	}

	@media screen and (min-width: 900px) {
		background-image: url(../../assets/img/Lights/Desktop/img/P-light.png);
	}
}

.backgroundLights {
	background-image: url(../../assets/img/Lights/Mobile/mobile-lights.png);
	z-index: 2;
	position: absolute;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top right;

	@media screen and (min-width: 600px) {
		background-image: url(../../assets/img/Lights/Tablet/img/all-lights.png);
	}

	@media screen and (min-width: 900px) {
		background-image: url(../../assets/img/Lights/Desktop/img/all-lights.png);
	}
}

.hidden-message1 {
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 5000;
	width: 80%;
	line-height: 200%;
	color: white;
	opacity: .8;
	font-family: 'BenguiatBold', sans-serif;
	font-size: 1.2rem;
	font-weight: 300;
	letter-spacing: .5px;
	text-align: center;

	@media screen and (min-width: 600px) {
		top: 60%;
	}
}

.hidden-message2 {
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 5000;
	width: 80%;
	line-height: 200%;
	color: white;
	opacity: .8;
	font-family: 'BenguiatBold', sans-serif;
	font-size: 1rem;
	font-weight: 300;
	letter-spacing: .5px;
	text-align: center;

	@media screen and (min-width: 600px) {
		top: 70%;
	}
}

.lights-button-container {
	position: relative;
	width: 100%;
	height: 100%;

	.lightButton {
		position: absolute;
		z-index: 501;
		width: 70px;
	    height: 70px;
		padding: 20px;
		cursor: pointer;

		&.activeButton {
			border: 2px solid transparent;
		}

		@media screen and (min-width: 600px) {
			width: 90px;
			height: 90px;
		}
	}

	.Hlight {
		top: 10%;
		left: 73%;
		// border: 2px solid red;
		background: transparent;

		@media screen and (min-width: 500px) {
			top: 13%;
			left: 74%;
		}

		@media screen and (min-width: 600px) {
			top: 11%;
			left: 75%;
		}

		@media screen and (min-width: 700px) {
		    top: 14%;
		    left: 76%;
		}

		@media screen and (min-width: 800px) {
		    top: 16%;
		    left: 77%;
		}

		@media screen and (min-width: 900px) {
			top: 16.5%;
			left: auto;
			right: 25vw;
		}

		@media screen and (min-width: 1000px) {
			top: 16.5%;
		    right: 23vw;
		}

		@media screen and (min-width: 1100px) {
		    right: 20.5vw;
		}

		@media screen and (min-width: 1200px) {
		    right: 19.5vw;
		}

		@media screen and (min-width: 1300px) {
		    top: 17.5%;
		    right: 18.8vw;
		}

		@media screen and (min-width: 1400px) {
		    top: 17.5%;
		    right: 18.8vw;
		}

		@media screen and (min-width: 1500px) {
			top: 20.5%;
			right: 18.4vw;
			width: 100px;
			height: 100px;
		}
	}

	.Elight {
		top: 12%;
	    left: 39%;
		background: transparent;
		// border: 2px solid red;

		@media screen and (min-width: 500px) {
			left: 41%;
		    top: 16%;
		}

		@media screen and (min-width: 600px) {
			top: 14%;
			left: 46%;
		}
		@media screen and (min-width: 700px) {
			top: 17%;
			left: 47%;
		}

		@media screen and (min-width: 800px) {
			top: 20%;
			left: 48%;
		}

		@media screen and (min-width: 900px) {
			top: 19%;
			left: 43%;
		}

		@media screen and (min-width: 1000px) {
			top: 19%;
			left: 48%;
		}

		@media screen and (min-width: 1100px) {
			left: 53%;
		}

		@media screen and (min-width: 1200px) {
			left: 57%;
		}

		@media screen and (min-width: 1300px) {
			left: 59%;
		}

		@media screen and (min-width: 1400px) {
			top: 22%;
		}

		@media screen and (min-width: 1500px) {
			top: 22%;
		}



	}

	.Llight {
		top: 41%;
		left: 18%;
		background: transparent;
		// border: 2px solid red;

		@media screen and (min-width: 500px) {
			top: 52%;
			left: 20%;
		}

		@media screen and (min-width: 600px) {
			top: 41%;
			left: 28%;
		}

		@media screen and (min-width: 700px) {
			top: 48%;
			left: 29%;
		}

		@media screen and (min-width: 800px) {
			top: 56%;
		}

		@media screen and (min-width: 900px) {
			left: 30%;
			top: 37%;
		}

		@media screen and (min-width: 1000px) {
			left: 37%;
		}

		@media screen and (min-width: 1100px) {
			left: 42%;
		}

		@media screen and (min-width: 1200px) {
			left: 47%;
		}

		@media screen and (min-width: 1300px) {
			left: 30%;
			top: 37%;
		}

		@media screen and (min-width: 1400px) {
			top: 43%;
		}

		@media screen and (min-width: 1500px) {
			top: 45%;
		}
	}

	.Plight {
		top: 39%;
		left: 59%;
		background: transparent;
		// border: 2px solid red;

		@media screen and (min-width: 500px) {
			top: 50%;
			left: 61%;
		}

		@media screen and (min-width: 600px) {
			top: 38%;
		   left: 62%;
		}

		@media screen and (min-width: 700px) {
			top: 46%;
			left: 64%;
		}

		@media screen and (min-width: 800px) {
			top: 54%;
			left: 64%;
		}

		@media screen and (min-width: 900px) {
			left: 57%;
			top: 31%;
		}

		@media screen and (min-width: 1000px) {
		    left: 62%;
	        top: 32%;
		}

		@media screen and (min-width: 1100px) {
		    left: 66%;
		}

		@media screen and (min-width: 1200px) {
			left: 68%;
		}

		@media screen and (min-width: 1300px) {
			left: 69%;
			top: 33%;
		}

		@media screen and (min-width: 1400px) {
			top: 38%;
		}

		@media screen and (min-width: 1500px) {
			top: 39%;
			left: 70%;
		}
	}

}


.lightsTrailer{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 90%;
	z-index: 500;

	@media screen and (min-width: 600px) {
		width: 60%;
	}	
}

.netflix-white {
	z-index: 500;
	width: 21.875%;
	position: absolute;
	top: 5%;
	left: 10%;

	@media screen and (min-width: 900px) {
		width: 7.96875%;
		left: 5.572916667%;
	}
}

.logo-small {
	z-index: 100;
	width: 16.66666667%;
	position: absolute;
	right: 10%;
	bottom: 5%;

	@media screen and (min-width: 600px) {
		width: 10%;
		right: 6.770833333%;
	}

	@media screen and (min-width: 900px) {
		width: 9.114583333%;
		right: 3.541666667%;
	}
}


