@import 'index.scss';

* {
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
	background: black;
	overflow: hidden;
	margin: 0;
}

.wrapper {
	height: 100%;
	width: 100%;
	position: relative;
	margin: 0 auto;
}


//////////// LIGHTS PAGE /////////////

.background {
	background-image: url(../../assets/img/Lights/Mobile/mobile-lights.png);
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;

	@media (min-width: 768px) {
		background-image: url(../../assets/img/Lights/Tablet/img/no-lights.png);
	}

	@media (min-width: 960px) {
		background-image: url(../../assets/img/Lights/Desktop/img/all-lights.png);
	}
}

.backgroundH {
	position: absolute;
	top: 0;
	left: 0;
	background-image: url(../../assets/img/Lights/Mobile/img/H-light.png);
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 20;

	@media (min-width: 768px) {
		background-image: url(./../assets/img/Lights/Tablet/img/H-light.png);
	}

	@media (min-width: 960px) {
		background-image: url(../../assets/img/Lights/Desktop/img/H-light.png);
	}
}

.backgroundE {
	position: absolute;
	top: 0;
	left: 0;
	background-image: url(../../assets/img/Lights/Mobile/img/E-light.png);
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 15;

	@media (min-width: 768px) {
		background-image: url(../../assets/img/Lights/Tablet/img/E-light.png);
	}

	@media (min-width: 960px) {
		background-image: url(../../assets/img/Lights/Desktop/img/E-light.png);
	}
}

.backgroundL {
	position: absolute;
	top: 0;
	left: 0;
	background-image: url(../../assets/img/Lights/Mobile/img/L-light.png);
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	background-size: cover;
	z-index: 10;

	@media (min-width: 768px) {
		background-image: url(../../assets/img/Lights/Tablet/img/L-light.png);
	}

	@media (min-width: 960px) {
		background-image: url(../../assets/img/Lights/Desktop/img/L-light.png);
		z-index: 5;
	}
}

.backgroundP {
	position: absolute;
	top: 0;
	left: 0;
	background-image: url(../../assets/img/Lights/Mobile/img/P-light.png);
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;

	@media (min-width: 768px) {
		background-image: url(../../assets/img/Lights/Tablet/img/P-light.png);
	}

	@media (min-width: 960px) {
		background-image: url(../../assets/img/Lights/Desktop/img/P-light.png);
		z-index: 5;
	}
}

.netflix-white {
	z-index: 100;
	width: 21.875%;
	position: absolute;
	top: 5%;
	left: 10%;

	@media (min-width: 960px) {
		width: 7.96875%;
		left: 5.572916667%;
	}
}

.logo-small {
	z-index: 100;
	width: 16.66666667%;
	position: absolute;
	right: 10%;
	bottom: 5%;

	@media (min-width: 768px) {
		width: 18.75%;
		right: 6.770833333%;
	}

	@media (min-width: 960px) {
		width: 9.114583333%;
		right: 3.541666667%;
	}
}

.navigation {
	position: absolute;
	width: 100%;
	bottom: 4.678362573%;

	@media (min-width: 500px) {
		max-width: 80%;
	}

	@media (min-width: 640px) {
		width: 35.9375%;
	}
}

.arrow {
	z-index: 100;
	background-image: url(../../assets/img/Lights/Desktop/img/next-arrow.svg);
	background-repeat: no-repeat;
	border: 3px solid #b61406;
	position: absolute;
	width: 3%;
	height: 5%;
	padding: 5%;
	bottom: 5.719298246%;
	opacity: .5;

	&:hover {
		opacity: 1;
		-webkit-box-shadow: 0px 0px 78px 2px rgba(182,20,6,1);
		-moz-box-shadow: 0px 0px 78px 2px rgba(182,20,6,1);
		box-shadow: 0px 0px 78px 2px rgba(182,20,6,1);
	}
	
}

.previous {
	z-index: 100;
	transform: rotate(180deg);
	left: 8.958333333%;
}

.next {
	z-index: 100;
	left: 51.04166667%;
}

.circle {
	position: absolute;
	width: 10px;
	height: 10px;
	background: #b61406;
	background-repeat: no-repeat;
	border-radius: 100px;
	margin-bottom: 4.187135%;
	bottom: 5%;
	opacity: .5;
	z-index: 50;

	&:hover {
		opacity: 1;
		-webkit-box-shadow: 0px 0px 78px 2px rgba(182,20,6,1);
		-moz-box-shadow: 0px 0px 78px 2px rgba(182,20,6,1);
		box-shadow: 0px 0px 78px 2px rgba(182,20,6,1);
		width: 3.75%;
		height: 2.105263158%;
	}
}

.circle1 {
    left: 27.08333333%;
}

.circle2 {
	left: 35.41666667%;
}

.circle3 {
	left: 42.70833333%;
}

.active {
	opacity: 1;
	-webkit-box-shadow: 0px 0px 78px 2px rgba(182,20,6,1);
	-moz-box-shadow: 0px 0px 78px 2px rgba(182,20,6,1);
	box-shadow: 0px 0px 78px 2px rgba(182,20,6,1);
}



//////////// Character PAGE /////////////


.nancy-link {
	width: 100%;
	height: 100%;
	position: absolute;
}

.nancy {
	position: absolute;
	width: 25.41666667%;
	top: 3.040935673%;
	left: 38.54166667%;

	@media (min-width: 768px) {
		width: 22.91666667%;
		top: 21.09375%;
		left: 52.08333333%;	
	}

	@media (min-width: 960px) {
		width: 16.92708333%;
		top: 9.259259259%;
		left: 60.9375%;	
	}
}

.lucas {
	position: absolute;
	width: 30.41666667%;
	top: 12.86549708%;
	left: 2.416666667%;

	@media (min-width: 768px) {
		width: 25%;
		top: 10.9375%;
		left: 7.8125%;	
	}

	@media (min-width: 960px) {
		width: 20.92708333%;
		top: 2.777777778%;
		left: 38.40625%;	
	}
}

.steve {
	position: absolute;
	width: 32.41666667%;
	top: 11.4502924%;
	left: 62.70833333%;

	@media (min-width: 768px) {
		width: 30%;
		top: 8.59375%;
		left: 68.47916667%;	
	}

	@media (min-width: 960px) {
		width: 20.92708333%;
		top: 2.703703704%;
		left: 78.51041667%;	
	}
}

.jonathan {
	position: absolute;
	width: 33.08333333%;
	top: 24.56140351%;
	left: 26.25%;

	@media (min-width: 768px) {
		width: 28%;
		top: 19.53125%;
		left: 21.04166667%;	
	}

	@media (min-width: 960px) {
		width: 20.92708333%;
		top: 38.14814815%;
		left: 39.75%;	
	}
}

.dustin {
	position: absolute;
	width: 25%;
	top: 32.16374269%;
	left: 3.125%;

	@media (min-width: 768px) {
		width: 25%;
		top: 31.25%;
		left: 6.25%;	
	}

	@media (min-width: 960px) {
		width: 16.92708333%;
		top: 16.2037037%;
		left: 24.73958333%;	
	}
}

.joyce {
	position: absolute;
	width: 39.16666667%;
	top: 33.33333333%;
	right: 1.041666667%;

	@media (min-width: 768px) {
		width: 36.45833333%;
		top: 34.375%;
		left: 62.5%;	
	}

	@media (min-width: 960px) {
		width: 25.26041667%;
		top: 37.96296296%;
		left: 68.22916667%;	
	}
}

.mike {
	position: absolute;
	width: 27.08333333%;
	top: 42.69005848%;
	left: 35.41666667%;

	@media (min-width: 768px) {
		width: 25%;
		top: 39.0625%;
		left: 34.375%;	
	}

	@media (min-width: 960px) {
		width: 16.92708333%;
		top: 12.03703704%;
		left: 4.947916667%;	
	}
}

.will {
	position: absolute;
	width: 27.08333333%;
	top: 53.80116959%;
	left: 3.125%;

	@media (min-width: 768px) {
		width: 28%;
		top: 55.46875%;
		left: 5.208333333%;	
	}

	@media (min-width: 960px) {
		width: 17.1875%;
		top: 45.37037037%;
		left: 7.291666667%;	
	}
}

.hopper {
	position: absolute;
	width: 67.66666667%;
	top: 59.41520468%;
	right: -16.083333333%;

	@media (min-width: 768px) {
		width: 60.02083333%;
		top: 60.15625%;
		left: 53.89583333%;	
	}

	@media (min-width: 960px) {
		width: 47.60416667%;
		top: 67.59259259%;
		left: 49.72916667%;	
	}

}

.eleven {
	position: absolute;
	width: 70.66666667%;
	top: 63.74269006%;
	left: -2%;

	@media (min-width: 768px) {
		width: 70.33333333%;
		top: 64.59375%;
		left: 2.125%;	
	}

	@media (min-width: 960px) {
		width: 47.60416667%;
		top: 55.55555556%;
		left: 5.39583333%;	
	}
}

.grayscale {
	filter: grayscale(100%);

	&:hover {
		filter: grayscale(0%);
	}
}



////////////// Tree Page ////////////////


.background-tree {
	background-image: url(../../assets/img/tree/img/normaltree-02.png);
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 90%;
}

.portal-link {
	// width: 100%;
	// height: 100%;
	// z-index: 20;

	position: absolute;
	z-index: 300;
	width: 41.66666667%;
	top: 26.766082%;
	left: 58.33333333%;

	@media (min-width: 768px) {
		width: 37.5%;
	    top: 0;
	    left: 67.291667%;
	}

	@media (min-width: 960px) {
	    width: 19.0625%;
	    top: 22%;
	    left: 77.291667%;
	}
}


.portal {
	// width: 41.66666667%;
	// position: absolute;

	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.text {
	position: absolute;
	top: 57.081871%;
	left: 11.45833333%;
	z-index: 25;
	width: 40%;
    line-height: 200%;

	& span {
		color: #8c8d8c;
		font-size: 1.5rem;
	}

	// .text-large {
	// 	font-size: 1.7rem;
	// }

	@media (min-width: 960px) {
		text-align: center;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		
		.text-large {
			font-size: 2.5rem;
		}
	}
}



